# Forum data sentiment analysis results cleaning and analysing
In this notebook we carry out data cleaning and useful groupbys on a private data source containing comments from a forum about bitcoin.

In [1]:
import pandas as pd
import numpy as np
#import nltk
import matplotlib.pyplot as plt
import seaborn as sns
import datetime
pd.set_option('display.max_rows', 15)

In [2]:
data= pd.read_csv('Data/Bigger Data/forum_NLP.csv')
data = data.drop('Unnamed: 0', axis = 1)

In [3]:
data['merit_compound'] = data["merit"]*pd.to_numeric(data["compound"])

In [4]:
data["newdate"]=data["datetime"]

In [9]:
data = data[data["newdate"] < "2018-05-01"]

In [11]:
data['newdate'] =  pd.to_datetime(data['newdate'], format='%Y%m%d %H:%M:%S')

In [12]:
data['newdate'] = data['newdate'].dt.date

In [13]:
data

,datetime,id,status,activity,merit,post,compound,neg,neu,pos,merit_compound,newdate
65,2018-03-18 02:37:18,mmp95,Jr. Member,182.0,0.0,"The recent speculation is very profitable, fin...",0.8516,0.000,0.708,0.292,0.0000,2018-03-18
66,2018-03-18 02:40:46,hoomg,Jr. Member,186.0,0.0,"Quote from: mmp95 on March 18, 2018, 02:37:18 ...",0.9324,0.035,0.815,0.149,0.0000,2018-03-18
67,2018-03-18 02:41:45,kingcolex,Legendary,1596.0,1007.0,"I like dash, especially if you are well off en...",0.8876,0.000,0.768,0.232,893.8132,2018-03-18
68,2018-04-05 14:12:26,sunny7408,Jr. Member,45.0,0.0,RBI ban Bitcoin?,-0.5574,0.643,0.357,0.000,-0.0000,2018-04-05
69,2018-04-05 14:13:30,infested,Jr. Member,132.0,0.0,Its a small market in crypto terms. Who cares?,0.4588,0.000,0.700,0.300,0.0000,2018-04-05
70,2018-04-05 14:18:13,Thanasis,Hero Member,1328.0,505.0,"Quote from: infested on April 05, 2018, 02:13:...",0.8611,0.000,0.852,0.148,434.8555,2018-04-05
71,2018-04-05 14:24:38,pxo.011,Member,266.0,10.0,well india has one of the biggest population b...,0.4939,0.000,0.870,0.130,4.9390,2018-04-05
...,...,...,...,...,...,...,...,...,...,...,...,...
660193,2017-05-01 13:59:37,TravelMug,Sr. Member,602.0,253.0,"Quote from: iram3130 on May 01, 2017, 01:51:56...",0.5173,0.100,0.754,0.147,130.8769,2017-05-01
660194,2017-05-01 09:25:50,rickbig41,I'm not a member,1036.0,1058.0,This topic has been moved to Beginners & Help....,0.4019,0.000,0.748,0.252,425.2102,2017-05-01
660195,2017-05-01 07:15:36,rickbig41,I'm not a member,1036.0,1058.0,This topic has been moved to Exchanges.\n\nhtt...,0.0000,0.000,1.000,0.000,0.0000,2017-05-01
660196,2017-05-01 00:07:25,FiendCoin,Sr. Member,364.0,261.0,"Quote from: cellard on April 30, 2017, 03:44:5...",-0.8250,0.109,0.847,0.044,-215.3250,2017-05-01
660197,2017-05-01 02:49:28,CoinCidental,Legendary,1316.0,1000.0,"Quote from: FiendCoin on May 01, 2017, 12:07:2...",-0.6063,0.076,0.866,0.058,-606.3000,2017-05-01
660198,2017-05-01 03:09:57,FiendCoin,Sr. Member,364.0,261.0,"Quote from: CoinCidental on May 01, 2017, 02:4...",-0.7937,0.084,0.864,0.052,-207.1557,2017-05-01
660199,2017-05-01 03:15:24,BitcoinerXX,Member,94.0,10.0,"Quote from: CoinCidental on May 01, 2017, 02:4...",-0.8382,0.092,0.865,0.044,-8.3820,2017-05-01

In [14]:
#df = data.iloc[:,[6,7,8,9,10,11]]
df = data.iloc[:,[6,10,11]]
df = df.groupby('newdate', as_index=False, sort=False).mean()
print (df)

        newdate  compound  merit_compound
0    2018-03-18  0.315158       35.801333
1    2018-04-05  0.344073       41.538789
2    2018-04-06  0.302624       28.191494
3    2018-02-02  0.324497       41.030197
4    2018-02-03  0.321569       50.046031
5    2018-02-04  0.318677       44.137807
6    2018-02-05  0.316947       46.976449
..          ...       ...             ...
358  2017-09-24  0.287040       66.273244
359  2017-10-20  0.384664      101.952295
360  2017-08-05  0.418611      151.217950
361  2017-07-24  0.426870      151.223735
362  2017-07-18  0.300571       98.797924
363  2017-06-16  0.348698      132.358636
364  2017-07-26  0.316411      108.965484

[365 rows x 3 columns]

In [15]:
df.set_index('newdate')
#df = df["newdate"] < "2018-05-01"

            compound  merit_compound
newdate
2018-03-18  0.315158       35.801333
2018-04-05  0.344073       41.538789
2018-04-06  0.302624       28.191494
2018-02-02  0.324497       41.030197
2018-02-03  0.321569       50.046031
2018-02-04  0.318677       44.137807
2018-02-05  0.316947       46.976449
...              ...             ...
2017-09-24  0.287040       66.273244
2017-10-20  0.384664      101.952295
2017-08-05  0.418611      151.217950
2017-07-24  0.426870      151.223735
2017-07-18  0.300571       98.797924
2017-06-16  0.348698      132.358636
2017-07-26  0.316411      108.965484

[365 rows x 2 columns]

In [16]:
df.to_csv("Data/merit_compound.csv")