## Step 0. Import usual libraries

In [1]:
import pandas as pd
import numpy as np
import poloniex
import datetime

pd.set_option('display.max_rows', 15)

## Step 1. Importing from Poloniex
Poloniex is a cryptocurrency exchange found on https://poloniex.com/exchange, to download the data we use a package made by a poloniex community member.

Importing from API

* To import poloniex we need to install the package in the console using:

`pip install poloniex`
* The help function gives a list of functions included in the package and some descriptions

`help(poloniex.poloniex)`
* We are using the public data so no keys are needed

The package has many functionalities but the information we want is public, therefore we do not need access tokens or secret keys. The currency we are looking for is BitCoin relative to the USD, therefore looking at the documentation we know that we need to search using the term `'USDT_BTC'`, with an additional parameter of seconds between measurements. We chose to take the 24 hours frequency.

In [2]:
polo = poloniex.Poloniex()
#btc300 = pd.DataFrame(polo.returnChartData("USDT_BTC", 300))
btc86400 = pd.DataFrame(polo.returnChartData("USDT_BTC", 86400))

Quick look at the data:

In [3]:
btc86400

,close,date,high,low,open,quoteVolume,volume,weightedAverage
0,244.000000,1424304000,0.330000,225.000000,0.330000,0.193117,4.627631e+01,239.627778
1,240.250000,1424390400,245.000000,240.250000,240.250118,0.230429,5.589490e+01,242.568479
2,245.000000,1424476800,245.000000,245.000000,245.000000,0.060091,1.472224e+01,245.000000
3,235.000000,1424563200,249.000000,235.000000,245.000000,0.539055,1.291212e+02,239.532608
4,235.000000,1424649600,235.001000,235.000000,235.000002,0.410926,9.656756e+01,235.000062
5,239.750000,1424736000,239.750000,235.000000,235.000000,0.626749,1.491544e+02,237.981177
6,237.750000,1424822400,239.750000,237.750000,239.750000,0.927550,2.215841e+02,238.891722
...,...,...,...,...,...,...,...,...
1301,6338.407165,1536710400,6350.000000,6197.000000,6291.052950,781.496035,4.899249e+06,6269.064539
1302,6488.375800,1536796800,6523.324405,6333.423265,6333.423265,729.524198,4.710302e+06,6456.677408
1303,6484.078126,1536883200,6580.814013,6382.791500,6483.875043,813.653568,5.278847e+06,6487.830986
1304,6516.581844,1536969600,6567.515680,6474.352125,6478.638200,378.183861,2.464325e+06,6516.209888
1305,6500.081206,1537056000,6519.608108,6375.000000,6518.271630,549.008128,3.547223e+06,6461.148268
1306,6253.276003,1537142400,6530.000000,6206.760433,6500.081206,944.235198,5.990227e+06,6343.998651
1307,6253.455009,1537228800,6293.487157,6226.480092,6253.276003,211.979220,1.326012e+06,6255.388704

Transform the unix timestamp to datetime:

In [4]:
btc86400.date = pd.to_datetime(btc86400.date, unit = 's')

Setting the date as index:

In [5]:
btc86400.set_index('date', inplace = True)

Taking the period 2017-05-01 to 2018-05-02 (one more day for lagged purposes):

In [6]:
data = btc86400["2017-05-01":"2018-05-02"]
data

,close,high,low,open,quoteVolume,volume,weightedAverage
date,,,,,,,
2017-05-01,1530.000000,1585.160000,1429.011494,1435.089774,13412.008592,2.003840e+07,1494.063746
2017-05-02,1561.907000,1615.023804,1510.000000,1530.000000,7422.171468,1.157105e+07,1558.984964
2017-05-03,1615.620000,1628.888822,1545.309409,1562.144333,9510.431690,1.506086e+07,1583.614404
2017-05-04,1603.898572,1699.130000,1515.000000,1615.620000,16308.054918,2.632924e+07,1614.493009
2017-05-05,1543.400000,1663.971730,1454.122332,1603.898572,20371.318862,3.239718e+07,1590.333201
2017-05-06,1598.205817,1629.480000,1540.344910,1543.400000,13521.521989,2.139785e+07,1582.502991
2017-05-07,1620.150000,1657.000000,1568.000000,1598.205817,19051.154408,3.042350e+07,1596.937411
...,...,...,...,...,...,...,...
2018-04-26,9286.000000,9299.000000,8652.585323,8876.899999,2378.235826,2.113739e+07,8887.845739
2018-04-27,8920.010000,9386.000000,8920.000000,9286.000000,1990.549767,1.831713e+07,9202.047096
2018-04-28,9330.761257,9430.777141,8881.058941,8920.000000,1392.222876,1.287775e+07,9249.776801
2018-04-29,9423.799996,9580.000000,9168.085724,9358.162299,1425.399538,1.334253e+07,9360.555612
2018-04-30,9218.792931,9454.000000,9101.000000,9423.799996,948.450684,8.793027e+06,9270.937006
2018-05-01,9070.973313,9235.380000,8823.000000,9235.380000,1534.882653,1.379405e+07,8987.040607
2018-05-02,9245.000000,9280.000000,8967.276385,9081.584779,987.549270,9.004374e+06,9117.898011

In [7]:
lagged_data = data.shift(-1)
lagged_data = lagged_data.dropna()
lagged_data

,close,high,low,open,quoteVolume,volume,weightedAverage
date,,,,,,,
2017-05-01,1561.907000,1615.023804,1510.000000,1530.000000,7422.171468,1.157105e+07,1558.984964
2017-05-02,1615.620000,1628.888822,1545.309409,1562.144333,9510.431690,1.506086e+07,1583.614404
2017-05-03,1603.898572,1699.130000,1515.000000,1615.620000,16308.054918,2.632924e+07,1614.493009
2017-05-04,1543.400000,1663.971730,1454.122332,1603.898572,20371.318862,3.239718e+07,1590.333201
2017-05-05,1598.205817,1629.480000,1540.344910,1543.400000,13521.521989,2.139785e+07,1582.502991
2017-05-06,1620.150000,1657.000000,1568.000000,1598.205817,19051.154408,3.042350e+07,1596.937411
2017-05-07,1705.674354,1724.000000,1609.990000,1622.000000,21428.807739,3.568746e+07,1665.396325
...,...,...,...,...,...,...,...
2018-04-25,9286.000000,9299.000000,8652.585323,8876.899999,2378.235826,2.113739e+07,8887.845739
2018-04-26,8920.010000,9386.000000,8920.000000,9286.000000,1990.549767,1.831713e+07,9202.047096
2018-04-27,9330.761257,9430.777141,8881.058941,8920.000000,1392.222876,1.287775e+07,9249.776801
2018-04-28,9423.799996,9580.000000,9168.085724,9358.162299,1425.399538,1.334253e+07,9360.555612
2018-04-29,9218.792931,9454.000000,9101.000000,9423.799996,948.450684,8.793027e+06,9270.937006
2018-04-30,9070.973313,9235.380000,8823.000000,9235.380000,1534.882653,1.379405e+07,8987.040607
2018-05-01,9245.000000,9280.000000,8967.276385,9081.584779,987.549270,9.004374e+06,9117.898011